/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
    #  Baseline Normalize
    #  Layout
    #  Header
        ##  Logo
        ##  Header right
        ##  Main Navigation & Primary Menu
    #  Content
    #  Widgets
    #  Footer
        ##  Mobile Menu
        ##  Backtop
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#  Baseline Normalize
--------------------------------------------------------------*/
body {
    color: #1f1f1f;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
}

a {
    color: #1f1f1f;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.mt-0 {
    margin-top: 0;
}

.screen-reader-text, .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*--------------------------------------------------------------
#  Layout
--------------------------------------------------------------*/
.site.boxed {
    margin: 0 auto;
    background: transparent;
}

.site.boxed.w1000 {
	max-width: 1000px;
}

.site.boxed.w1170 {
	max-width: 1170px;
}

.site.boxed.w1200 {
	max-width: 1200px;
}

@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	}

	.site.w1000 .container {
	    width: 1000px;
	}

	.site.w1170 .container {
	    width: 1170px;
	}

	.site.w1200 .container {
	    width: 1200px;
	}
}

#layout {
    padding-top: 10px;
    background: white;
}

@media (min-width: 992px) {
    .content-area {
        width: 75%;
        float: left;
    }

    .widget-area {
        width: 25%;
        float: left;
    }

    .sidebar-both .content-area {
        width: 60%;
    }

    .sidebar-both .widget-area {
        width: 20%;
    }

    .sidebar-left .content-area {
        left: 25%;
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-left .widget-area {
        right: 75%;
        padding-left: 0;
    }

    .sidebar-both .content-area {
        left: 20%;
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-both #secondary-1.widget-area {
        right: 60%;
    }

    .sidebar-right .content-area {
        padding-right: 0;
    }
}

.sidebar-none .widget-area {
    display: none;
}

.no-sidebar .content-area {
    width: 100%;
}

.content-area, .widget-area {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    /*padding-bottom: 20px;*/
    word-wrap: break-word;
}

/*--------------------------------------------------------------
#  Header
--------------------------------------------------------------*/
.site-header {
    background: white;
}

@media ( max-width: 991px ) {
    .site-header {
        background: #fddd56 !important;
        text-align: center;
    }
}

@media ( min-width: 783px ) {
    .admin-bar .fixed-nav-menu .main-navigation {
        margin-top: 32px;
    }
}

@media ( min-width: 601px ) and ( max-width: 782px ) {
    .admin-bar .fixed-nav-menu .main-navigation {
        margin-top: 46px;
    }
}

.fixed-nav-menu .main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.fixed-nav-menu .animated {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform,opacity;
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}

@-webkit-keyframes slideDown{
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown{
  0% {
    -moz-transform: translateY(-100%);
  }
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDown{
  0% {
    -o-transform: translateY(-100%);
  }
  100% {
    -o-transform: translateY(0);
    }
}

@keyframes slideDown{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
  }
}

@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/*--------------------------------------------------------------
##  Logo
--------------------------------------------------------------*/
.custom-logo-link {
    padding: 75px 0;
    display: block;
}

@media (max-width: 767px) {
    .custom-logo-link {
        text-align: center;
    }
}

@media (max-width: 991px) {
    .custom-logo-link {
        padding: 30px 0;
        display: block;
    }
}

/*--------------------------------------------------------------
##  Header Right
--------------------------------------------------------------*/
.site-branding .rt-image-widget {
    text-align: right;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .site-branding .rt-image-widget {
        display: none;
    }
}

/*--------------------------------------------------------------
##  Header Search
--------------------------------------------------------------*/
.header-search .search-form {
    position: relative;
    height: 44px;
}

.header-search .search-form .search-field {
    width: 100%;
    border: none;
    padding: 5px 10px;
    position: absolute;
    border-radius: 30px;
    outline: none;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 2.5s ease-in-out;
    transition: all .25s ease-in-out;
}

.header-search .search-form .search-submit {
    border: 0;
    background: transparent;
    color: #292929;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 0 30px 30px 0;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media ( min-width: 1200px ) {
    .has-vertical-mega-menu .header-search.col-lg-1 .search-form .search-field:focus {
        width: 250px;
    }
}

/*--------------------------------------------------------------
##  Main Navigation & Primary Menu
--------------------------------------------------------------*/
@media (min-width: 1200px) {
    .site.boxed .main-navigation .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.main-navigation {
    background: #fff;
    border-radius: 15px 15px 0 0;
}

#primary-menu {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#primary-menu li {
    position: relative;
}

#primary-menu > li {
    float: left;
}

#primary-menu > li:not(:last-child) {
    border-right: 1px solid rgba(189, 189, 189, 0.16);
}

#primary-menu li a {
    color: #d40412;
    font-size: 15px;
    display: block;
    padding: 10px 43px;
    text-transform: uppercase;
    font-weight: 600;
}

@media (max-width: 1199px) {
    #primary-menu li a {
        padding: 10px 41px;
    }
}

#primary-menu li a:hover,
#primary-menu li.current-menu-item a {
    color: #191919;
}

#primary-menu li ul.sub-menu {
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    background: #484848;
    width: 250px;
    position: absolute;
    left: 250px;
    top: 0;
    padding-left: 0;
    list-style: none;
    z-index: 9999;
    box-shadow: 0 0 3px #8c8c8c;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#primary-menu li ul.sub-menu li {
  border-bottom: 1px solid #565656;
}

#primary-menu > li > ul.sub-menu {
    left: 0;
    top: auto;
}

#primary-menu li:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.rt-navbar-toggle {
    background: #fff;
    padding: 0;
    margin: 14px 0;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
}

.rt-navbar-toggle .icon-bar {
    background: black;
    display: block;
    position: relative;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    outline: none;
}

.rt-navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

.btn-fixed-mobile-menu .rt-navbar-toggle {
    background: #000;
    padding: 5px;
    margin: 14px 0;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 12px;
    z-index: 9999;
}

@media (max-width: 1199px) {
    .rt-navbar-toggle {
    	background: transparent;
    }

    .btn-fixed-mobile-menu .rt-navbar-toggle {
        background: #000;
    }

    .rt-navbar-toggle .icon-bar {
    	background: #d40412;
    }
}

/*--------------------------------------------------------------
#  Vertical Mega Menu
--------------------------------------------------------------*/
.vertical-mega-menu {
    position: relative;
}

.vertical-mega-menu .vertical-mega-menu-title {
    margin-bottom: 0;
    background: #006f94;
    border-radius: 0;
    text-align: left;
    padding: 9.5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.vertical-mega-menu .vertical-mega-menu-title:after {
    content: "\f039";
    float: right;
    font-family: fontawesome;
    font-weight: 100;
}

.vertical-mega-menu .rt_mega_menu .menu {
    position: absolute;
    z-index: 9999;
    background: white;
    width: calc(100% - 30px);
    border: 1px solid #ccc;
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.home .site:not(.fixed-nav-menu) .vertical-mega-menu .rt_mega_menu .menu,
.vertical-mega-menu .rt_mega_menu:hover .menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.vertical-mega-menu .rt_mega_menu .menu ul.sub-menu {
    margin-bottom: 0;
    padding-left: 0;
}

.vertical-mega-menu .rt_mega_menu .menu li {
    list-style: none;
}

.vertical-mega-menu .rt_mega_menu .menu > li {
    border-bottom: 1px solid #eee;
}

.vertical-mega-menu .rt_mega_menu .menu li a {
    display: block;
    padding: 10px;
    color: #333;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu {
    opacity: 0;
    visibility: hidden;
    margin-left: 30px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.vertical-mega-menu .rt_mega_menu .menu > li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    margin-left: 0;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu {
    position: absolute;
    width: 700px;
    left: 100%;
    top: -1px;
    background: white;
    border: 1px solid #ccc;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li {
    padding: 0 10px;
}

.vertical-mega-menu .rt_mega_menu .menu .w3c {
    width: calc(100% / 3);
    float: left;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li a {
    padding-left: 0;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li.w3c > a {
    text-transform: uppercase;
    color: #404040;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li.w3c > a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 1px;
    background: blue;
    bottom: -1px;
    left: 0;
}

@media ( max-width: 1199px ) {
    .vertical-mega-menu .rt_mega_menu {
        display: none;
    }
}

.vertical-mega-menu #mega-menu-toggle {
    float: left;
}

/*--------------------------------------------------------------
#  Content
--------------------------------------------------------------*/
.site-content {
    background: white;
}

.thumbnail-left {
    float: left;
    width: 35%;
    margin-right: 10px;
}

.slider_item {
    outline: none;
}

.slick-slide,
.slick-slide a {
    outline: none;
}

.slick-arrow {
    background: #ccc;
    border: none;
    padding: 0;
    width: 100%;
    height: 20px;
    outline: none;
    position: absolute;
}

.slick-prev {
    top: 50%;
    left: 0;
    width: 20px;
    z-index: 9999;
    height: 20%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slick-next {
    top: 50%;
    right: 0;
    height: 20%;
    width: 20px;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slick-vertical .slick-arrow {
    position: static;
    height: 21.5px;
    width: 100%;
    transform: translate(0);
    display: block !important;
}

/*--------------------------------------------------------------
#  WooCommerce
--------------------------------------------------------------*/
/* Content */
.woocommerce li.product .price {
    padding: 0 6px;
    display: block;
}

.woocommerce li.product .price:after {
    content: '';
    display: block;
    clear: both;
}

.woocommerce li.product .price span {
    width: 50%;
    float: left;
}

.woocommerce li.product .price span.sale-price {
    text-align: right;
    color: #e00000;
    font-weight: bold;
    font-size: 18px;
}

.woocommerce li.product .price span.regular-price {
    font-size: 15px;
    text-decoration: line-through;
    line-height: 28px;
    color: black;
}

.woocommerce li.product .price.no-sale-price span.regular-price {
    font-size: 18px;
    color: #e00000;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
    text-align: center;
}

.rt_add_to_cart {
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
}

.woocommerce li.product .rt_add_to_cart a {
    background: #eda418;
    font-weight: 100;
    border-radius: 4px;
    border: 1px dotted #946201;
    outline: none;
    padding: 4px 14px;
    color: white;
    float: left;
    margin-top: 0;
    line-height: 1;
    font-size: 13px;
    margin-top: 0 !important;
}

.woocommerce li.product .rt_add_to_cart a.view_product {
    float: none;
    background: #473f9c;
    border-color: black;
}

.woocommerce li.product .rt_add_to_cart a.add_to_cart_button,
.woocommerce li.product .rt_add_to_cart a.added_to_cart {
    float: right;
    color: black;
}

@media (max-width: 1200px) {
    .woocommerce li.product .rt_add_to_cart a.add_to_cart_button,
    .woocommerce li.product .rt_add_to_cart a.added_to_cart {
        display: block;
    }
}

.woocommerce li.product .rt_add_to_cart a.add_to_cart_button.added {
    display: none;
}

.woocommerce li.product .rt_add_to_cart a.buy_now_shop_loop_btn {
    float: right;
}

.archive .product {
    margin-bottom: 10px;
}

.rt_product_excerpt {
    margin-bottom: 10px;
    font-size: .899em;
    padding: 0 6px;
}

.rt_woocommerce-loop-product__title {
    font-size: 1em;
    text-align: center;
    margin: 10px 0;
    line-height: 1.3em;
}

.rt_woocommerce-loop-product__title a {
    display: block;
    color: black;
}

.rt_rating {
    background: url(../images/rating.png) center center no-repeat;
    width: 100%;
    height: 14px;
    margin: 10px 0;
}

.woocommerce li.product .rt_onsale {
    background: url(../images/sale-flash.png);
    position: absolute;
    top: 3px;
    right: 3px;
    border-radius: 50%;
    width: 53px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-weight: bold;
}

@media (max-width: 413px) {
    .rt_add_to_cart {
        padding: 0 5px;
    }
}

/* Single */
.woocommerce div.product .product_title {
  font-size: 22px;
}

.rt_single_regular_price {
    color: #989898;
    text-decoration: line-through;
    font-size: 15px;
}

.rt_single_regular_price.no-sale-price {
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.rt_single_sale_price {
    color: red;
    margin-left: 10px;
}

.rt_price_text {
    font-size: 14px;
    color: #2d2d2d;
}

.woocommerce .star-rating span {
    color: #ccc;
}

.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0.618em;
}

.product_meta {
    margin: 6px 0;
}

.woocommerce .woocommerce-breadcrumb {
    background-color: #f5f5f5;
    color: #222;
    margin: -10px 0 15px 0;
    border-top: 2px solid #0f7fc1;
    padding: 8px;
}

.site.boxed .woocommerce-breadcrumb {
    margin-left: -15px;
    margin-right: -15px;
    padding: 8px 15px;
}

.woocommerce .woocommerce-breadcrumb a {
    color: #222;
}

/* Single Product */
.single-product .rt_woocommerce-product-gallery .rt-woocommerce-product-gallery__wrapper {
    position: relative;
}

@media (min-width: 992px) {
  .single-product .rt_woocommerce-product-gallery {
      width: 43%;
      float: left;
      margin-bottom: 20px;
  }

  .single-product .rt-summary {
      width: 55%;
      float: right;
      margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
    .single-product .rt-summary {
        margin-top: 20px;
    }
}

.single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-thumbnail {
    width: 82%;
    float: right;
}

.single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-gallery-nav {
    position: relative;
    width: 16.75%;
    max-width: 91px;
    float: left;
    height: 423px;
    max-height: 423px;
    overflow: hidden;
}

.single-product .rt_woocommerce-product-gallery.horizontal .rt-woocommerce-product-gallery-nav {
    height: 20px;
    z-index: 999;
    position: relative;
    width: 100%;
    height: 130px !important;
    cursor: pointer;
    box-shadow: none !important;
    border: 0;
}

@media (max-width: 414px) {
    .single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-gallery-nav {
        display: none;
    }

    .single-product .rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-thumbnail {
        float: none;
        width: 100%;
    }
}

.rt_woocommerce-product-gallery .woocommerce-product-gallery__image {
    border: 1px solid #ccc;
    padding: 6px;
}

.rt-woocommerce-product-gallery-nav .woocommerce-product-gallery__image {
    cursor: pointer;
    padding: 5px;
    border-color: #ccc;
    margin: 10px 0;
    height: auto;
}

.rt_woocommerce-product-gallery.vertical .rt-woocommerce-product-gallery-nav .woocommerce-product-gallery__image {
    width: 100%;
}

.single-product .rt_woocommerce-product-gallery.vertical .thumbelina-but {
    height: 20px;
    z-index: 999;
    position: absolute;
    width: 100%;
    cursor: pointer;
    box-shadow: none !important;
    border: 0;
}

.thumbelina li img {
    width: 100%;
    height: auto;
    margin: 0;
}

.single-product .rt_woocommerce-product-gallery .thumbelina-but.left {
    background: url( ../images/arrow-top.jpg ) center;
}

.single-product .rt_woocommerce-product-gallery .thumbelina-but.right {
    bottom: 0;
    background: url( ../images/arrow-bottom.jpg ) center;
}

.single-product .rt_woocommerce-product-gallery.horizontal .thumbelina-but.left,
.single-product .rt_woocommerce-product-gallery.horizontal .thumbelina-but.right {
    height: 80px;
    width: 20px;
    box-shadow: none;
    border: none;
    top: 52%;
    transform: translateY(-50%);
}

.single-product .rt_woocommerce-product-gallery.horizontal .thumbelina-but.left {
    background: url(../images/arrow-left.jpg) center;
    left: 0;
}

 .single-product .rt_woocommerce-product-gallery.horizontal .thumbelina-but.right {
    background: url(../images/arrow-right.jpg) center;
    right: 0;
}

.woocommerce div.product form.cart .button {
    background: #ff5500;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    outline: none;
}

.woocommerce .quantity .qty {
    height: 35px;
    width: 60px;
    outline: none;
}

.woocommerce div.product form.cart, .woocommerce div.product p.cart {
    margin-bottom: 1.5em;
}

.rt_woocommerce_single_product_summary {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-bottom: 10px;
}

.rt_woocommerce_single_product_summary-left {
  width: 60%;
  float: left;
  margin-right: 14px;
}

.rt_woocommerce_single_product_summary-right {
    overflow: hidden;
    background: #f3f3f3;
    border-top: 1px solid #e5e5e5;
}

.rt_box_callback {
    margin: 10px 0;
    padding: 8px;
    background: #5aca59;
    border-radius: 3px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
}

.rt_box_callback label {
    float: left;
    line-height: 32px;
    margin-bottom: 0;
    margin-right: 5px;
}

@media (max-width: 414px) {
    .rt_box_callback label {
      float: none;
      display: block;
    }
}

.rt_box_callback input[type="text"] {
    border-color: #5aca59;
    font-weight: normal;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 13px;
    color: #222;
    outline: none;
    float: left;
    margin-right: 5px;
}

.rt_box_callback input[type="submit"] {
    background: #ff8400;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    float: left;
    padding: 3px 8px;
    border: none;
    outline: none;
    margin-right: 5px;
}

.ctsp-giaohang, .ctsp-doihang, .ctsp-chinhhang {
    margin-top: 19px;
    margin-left: 15px;
    height: 42px;
    line-height: 42px;
}

.note-ship {
    color: #666;
    font-size: 13px;
    padding: 10px 15px;
    margin-top: 18px;
    border-top: 1px solid #e5e5e5;
    font-weight: bold;
}

form#rt_box_callback {
    display: table;
    margin: 0 auto;
}

.ctsp-giaohang i {
    background: url(../images/gh-icon.png) no-repeat left top;
}

.ctsp-thongdiep i {
    width: 42px;
    height: 42px;
    display: inline-block;
    float: left;
}

.ctsp-doihang i {
    background: url(../images/dt-icon.png) no-repeat left top;
}

.ctsp-chinhhang i {
    background: url(../images/ch-icon.png) no-repeat left top;
}

.money-icon {
    background: url(../images/money-icon.png) no-repeat left top;
    width: 46px;
    height: 30px;
    display: block;
    float: left;
    margin-right: 5px;
}

.ctsp-thongdiep p {
    width: 130px;
    margin-left: 10px;
    display: inline-block;
    text-align: left;
    line-height: 20px;
}

@media (max-width: 600px) {
    .rt_woocommerce_single_product_summary-left, .rt_woocommerce_single_product_summary-right {
        float: none;
        width: 100%;
        margin: 0;
    }

    .note-ship {
        margin-bottom: 10px;
    }

    .single-product .content-area {
      margin-top: 10px;
    }
}

.rt_woocommerce_tabs:after {
    height: 2px;
    width: 100%;
    background: #ccc;
}

.rt_woocommerce_tabs li {
    float: left;
    margin-bottom: -2px;
    margin-right: 20px;
    margin-left: 0;
}

.rt_woocommerce_tabs li.active, .rt_woocommerce_tabs li:hover {
    border-bottom: 2px solid #0f7fc1;
}

.rt_woocommerce_tabs li a {
    color: #333;
    padding: 4px 0;
    display: block;
    font-size: 18px;
}

.rt_woocommerce_tabs li a:hover, .rt_woocommerce_tabs li.active a {
    color: #0f7fc1;
}

.woocommerce div.product .woocommerce-tabs .panel {
    margin: 2em;
}

.content-area .widget-title {
    color: #d40412;
    background: url(../images/post-title-bg.png) no-repeat center center;
    margin-bottom: 20px;
    text-align: center;
}

.entry-title {
    font-size: 25px;
    margin-top: 0;
}

.entry-meta {
    font-style: italic;
    font-size: 13px;
    margin-bottom: 10px;
}

.blog .entry-content .post-thumbnail,
.archive .entry-content .post-thumbnail {
    float: left;
    margin-right: 10px;
}

.blog .entry-content,
.archive .entry-content {
    margin-bottom: 20px;
}

.blog article.post:not(:last-child),
.archive article.post:not(:last-child) {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 12px;
}

.post_title {
    margin: 15px 0;
}

.post_title a {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}

.read-more {
    margin: 20px auto;
    text-align: center;
}

.read-more a {
    display: block;
    width: 75px;
    margin: 0 auto;
    background: #666666;
    color: white;
    padding: 4px;
    font-size: 12px;
    border-radius: 3px;
}

.post_thumbnail {
    display: block;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px;
}

.excerpt {
    color: #666666;
}

/*--------------------------------------------------------------
#  Widgets
--------------------------------------------------------------*/
.widget {
    margin-bottom: 2em;
}

.widget ul {
    padding-left: 0;
    list-style: none;
}

.widget-title {
    background: #d40412;
    color: #ffed00;
    font-size: 14px;
    font-weight: bold;
    padding: 11px 15px;
    border-radius: 10px 10px 0 0;
    margin-top: 0;
}

.widget-title a {
    color: #353535;
}

.sidebar .widget {
    background: #fddc56;
    border-radius: 10px;
}

/*--------------------------------------------------------------
#  Widget Nav Menu
--------------------------------------------------------------*/
.sidebar .widget_nav_menu .menu {
    background: #fddc56;
    margin-top: -10px;
    color: #d40412;
    border-radius: 0 0 10px 10px;
}

@media (max-width: 767px) {
    .sidebar .widget_nav_menu {
        display: none;
    }
}

.sidebar .widget_nav_menu .menu li:not(:first-child) a {
    border-top: 1px solid #9c1a1a;
}

.sidebar .widget_nav_menu .menu li {
    margin: auto 10px;
}

.sidebar .widget_nav_menu .menu li a {
    padding: 10px 10px 10px 25px;
    display: block;
    font-weight: bold;
    color: #d40412;
    background: url(../images/dot.png) no-repeat left center;
}

.sidebar .widget_nav_menu .widget-title {
    background: #d40412 url(../images/icon-bar.png) no-repeat 10px center;
    padding-left: 35px;
}

/*--------------------------------------------------------------
#  Widget Search Code
--------------------------------------------------------------*/
.widget_search_code .widget-title {
    background: #d40412 url(../images/icon-write.png) no-repeat 10px center;
    padding-left: 35px;
}

.widget_search_code form {
    position: relative;
    padding: 10px;
}

.widget_search_code textarea {
    border-radius: 10px;
    border-color: #ddd;
    padding: 5px;
    outline: none;
}

.widget_search_code .submit {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    border: 1px solid #d40412;
    background: #d40412;
    color: #fddc56;
    padding: 0px 20px;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    box-shadow: 0 0 3px #757575;
}

/*--------------------------------------------------------------
#  Widget Support
--------------------------------------------------------------*/
.widget_support .widget-title {
    background: #d40412 url(../images/icon-call.png) no-repeat 10px center;
    padding-left: 35px;
}

.support {
    background: url(../images/support-bg.png) no-repeat 20px center;
    padding-left: 100px;
    padding-bottom: 15px;
    font-weight: bold;
    color: #666666;
}

/*--------------------------------------------------------------
#  Rt Post Slider Widgets
--------------------------------------------------------------*/
.rt-posts-slider-widget .slick-slider:not(.slick-vertical) .slider_item {
    margin: 0 5px;
    padding: 0 10px;
    border: 1px solid #ccc;
}

/*--------------------------------------------------------------
#  Rt Post Slider Widgets
--------------------------------------------------------------*/
.sidebar .rt_best_seller_products_widget .rt__best_seller_products li.product {
    width: 100%;
    margin-right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sidebar .rt_best_seller_products_widget .rt__best_seller_products li.product:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
#  Meta Slider Widget
--------------------------------------------------------------*/
.widget_metaslider_widget:hover a.rslides_nav {
    opacity: 1;
    visibility: visible;
}

a.rslides_nav {
    text-indent: -9999px;
    padding: 0;
    margin-top: 0;
    width: 55px;
    height: 55px;
    background: rgba(5, 128, 193, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease-in-out;
}

a.rslides_nav:after {
    content: '';
    display: block;
}

a.rslides_nav.prev {
    border-radius: 0 5px 5px 0;
}

a.rslides_nav.next {
    border-radius: 5px 0 0 5px;
}

a.rslides_nav:after {
    text-indent: 0;
    content: "";
    font-size: 35px;
    width: 55px;
    height: 55px;
    color: white;
    font-family: fontawesome;
    position: absolute;
    top: 0;
    line-height: 55px;
    text-align: center;
}

a.rslides_nav.prev:after {
    content: "\f104";
}

a.rslides_nav.next:after {
    content: "\f105";
}

.flex-control-paging li a {
    box-shadow: none !important;
    background: transparent !important;
    border: 2px solid white;
}

.flex-control-nav {
    bottom: 30px !important;
    z-index: 9999;
}

.flex-control-paging li a.flex-active {
    background: white !important;
}

.flex-direction-nav a {
    background: none !important;
    width: 60px !important;
    height: 60px !important;
    text-align: center;
    overflow: hidden;
}

.flex-direction-nav a:before {
    content: "\f104";
    font-family: Fontawesome;
    display: block;
    text-indent: 0;
    color: white;
    font-size: 60px;
}

.flex-direction-nav .flex-prev {
    left: 0 !important;
}

.flexslider:hover .flex-prev {
    left: 36px !important;
}

.flex-direction-nav .flex-next:before {
    content: "\f105";
}

.flex-direction-nav .flex-next {
    right: 0 !important;
}

.flexslider:hover .flex-next {
    right: 60px !important;
}

.metaslider .flexslider {
    margin-bottom: 0 !important;
}

.above-content-section .rt-slider-widget {
    margin-bottom: 0 !important;
}

@media (max-width: 479px) {
    .above-content-section {
        display: none;
    }
}

.thongketruycap .param span:last-child {
    float: right;
}

.thongketruycap .param {
    font-weight: bold;
    color: #4a4a4a;
    margin-bottom: 5px;
}

/*--------------------------------------------------------------
#  Widget Search
--------------------------------------------------------------*/
.sidebar .widget_search .widget-title {
    background: #d40412 url(../images/icon-write.png) no-repeat 10px center;
    padding-left: 35px;
}

.sidebar .widget_search {

}

/*--------------------------------------------------------------
#  Contact Form 7
--------------------------------------------------------------*/
.wpcf7-form-control:not(.wpcf7-submit) {
    width: 100%;
    outline: none;
}

.nhantinkhuyenmai {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.nhantinkhuyenmai .wpcf7-form-control:not(.wpcf7-submit) {
    padding: 5px 13px;
    margin-bottom: 13px;
    border-radius: 4px;
    border: 1px solid #eee;
    background: url(../images/ctf-input.png);
}

.wpcf7-form-control::placeholder,
.wpcf7-form-control::-webkit-input-placeholder,
.wpcf7-form-control::-moz-placeholder,
.wpcf7-form-control:-moz-placeholder,
.wpcf7-form-control:-ms-input-placeholder {
    color: #fff;
}

.nhantinkhuyenmai .ajax-loader {
    display: none !important;
}

.nhantinkhuyenmai .wpcf7-submit {
    background: #e02129;
    border: 1px solid #b60e15;
    border-radius: 4px;
    padding: 1px 19px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

/*--------------------------------------------------------------
#  Booking Form
--------------------------------------------------------------*/
.booking_form {
    background: url(../images/dhl-form-bg.jpg) no-repeat top center;
}

.booking_form .widget-title {
    padding-top: 35px;
    background: none;
    margin-bottom: 0;
}

.booking_form-content {
    padding: 0px 80px 18px 80px;
    color: #666;
}

.booking_form-content .box {
    float: left;
    width: 46%;
    padding: 2%;
}

.booking_form-content .box-right {
    float: right;
}

.block-submit {
    clear: both;
    text-align: center;
}

.block {
    margin: 10px 0;
}

.booking_form-content input.wpcf7-form-control {
    padding: 2px 10px;
    border: 1px solid #f9f9f9;
    border-radius: 3px;
}

.booking_form-content .block-submit .wpcf7-submit {
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    color: #fddd56;
    background: #d40412;
    outline: none;
}

.booking_form .wpcf7-select {
    padding: 4px;
    border: 1px solid #f9f9f9;
    border-radius: 3px;
}

@media (max-width: 767px) {
    .booking_form {
        background: #fddc56;
    }

    .booking_form-content {
        padding: 0;
        color: #666;
    }

    .booking_form-content .box {
        float: none;
        padding: 0 2%;
        width: 100% !important;
    }

    .block-submit {
        margin: 25px 0 !important;
    }
}

/*--------------------------------------------------------------
#  Footer
--------------------------------------------------------------*/
.site-footer, .site-footer a {
    color: #666666;
    font-size: 12px;
    font-weight: normal;
}

.site-footer:before {
    content: '';
    display: block;
    height: 22px;
    width: 100%;
    background: #fddd56 url(../images/top-footer-bg.jpg) center center no-repeat;
}

@media (max-width: 1199px) {
    .site-footer:before {
        background: #fddd56 url(../images/top-footer-bg.jpg) right center no-repeat;
    }
}

.site-footer .widget {
    margin-bottom: 0;
}

.site-footer .widget-title {
    background: none;
    text-align: left;
    text-transform: none;
    padding-left: 0;
    padding-bottom: 0;
    margin: 10px 0 10px;
    font-size: 12px;
    color: #666666;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

/* Top Footer */
.top-footer {
    background: #d2010a;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top-footer .widget_nav_menu .menu {
    margin-bottom: 0;
    display: table;
    margin: 0 auto;
}

.top-footer .widget_nav_menu .menu:after {
    content: '';
    display: block;
    clear: both;
}

.top-footer .widget_nav_menu .menu li {
  float: left;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.top-footer .widget_nav_menu .menu li a {
  display: block;
  padding: 8px 15px;
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

.top-footer .widget_nav_menu .menu li.current-menu-item a,
.top-footer .widget_nav_menu .menu li a:hover {
    color: #fffd79;
}

/* Bottom Footer */
.bottom-footer {
    color: white;
    line-height: 2em;
}

.bottom-footer .container {
    max-width: 100%;
}

@media (min-width: 414px) {
    .bottom-footer {
        padding: 0 20px;
    }
}

.bottom-footer .widget_nav_menu .menu li a {
    background: url(../images/arrow.gif) no-repeat left center;
    padding-left: 10px;
    display: block;
    font-size: 12px;
}

.bottom-footer .widget_text .widget-title {
    text-align: right;
}

.bottom-footer .widget_text ul li {
    float: right;
}

.bottom-footer .col-md-3:first-child .widget_nav_menu .widget-title {
    padding-left: 25px;
    background: url(../images/footer_contact_center_icon.png) no-repeat left center;
}

/*--------------------------------------------------------------
##  Copyright
--------------------------------------------------------------*/
.copyright {
    color: #666666;
    padding: 15px;
    position: relative;
}

.copyright .container {
    position: relative;
    max-width: 100%;
}

.copyright-left {
    color: white;
}

@media (min-width: 414px) {
    .copyright {
        padding: 7px 10px;
    }

    .copyright-left {
        float: left;
        text-align: left;
    }

    .copyright-right {
        position: absolute;
        right: 20px;
        bottom: 25px;
    }
}

.copyright-right a {
    color: white;
}

@media (max-width: 413px) {
    .copyright-left {
        margin-bottom: 10px;
    }
}

/*--------------------------------------------------------------
##  Fixed Area
--------------------------------------------------------------*/
.fixed-area .widget {
    margin-bottom: 0 !important;
}

.fixed-area .rt_fbpage_widget {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
}

.fixed-area .rt_fbpage_widget .fb-page {
    display: none;
}

.fixed-area .rt_fbpage_widget .widget-title {
    cursor: pointer;
    margin-bottom: 0;
}

.fixed-area .rt-image-widget {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    margin-bottom: 0;
}

.mobile_call_fixed {
    position: fixed;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    text-align: center;
    background: red;
}

.mobile_call_fixed .line {
    width: 33.3334%;
    float: left;
}

.mobile_call_fixed .line a {
    color: white;
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    border: 1px dashed white;
}

@media (max-width: 767px) {
    .fixed-area .rt_fbpage_widget,
    .fixed-area .rt-image-widget {
        display: none;
    }
}

@media (min-width: 767px) {
    .mobile_call_fixed {
        display: none;
    }
}

/*--------------------------------------------------------------
##  Mobile Menu
--------------------------------------------------------------*/
.mobile-menu-container,
.vertical-mega-mobile-menu {
    background: black;
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-250px);
    -transform: translate(-250px);
    -o-transform: translate(-250px);
    transform: translate(-250px);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    z-index: 999999;
}

.vertical-mega-mobile-menu {
    left: auto;
    right: 0;
     -webkit-transform: translate(250px);
    -transform: translate(250px);
    -o-transform: translate(250px);
    transform: translate(250px);
}

.close-menu {
    background: #dd1f27;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.vertical-mega-mobile-menu ul,
.mobile-menu-container ul.mobile-menu {
    padding-left: 0;
    list-style: none;
}

.vertical-mega-mobile-menu ul li,
.mobile-menu-container ul.mobile-menu li {
    position: relative;
}

.vertical-mega-mobile-menu ul li a,
.mobile-menu-container ul.mobile-menu li a {
    border-bottom: 1px solid #212121;
}

.vertical-mega-mobile-menu ul li a,
.mobile-menu-container ul.mobile-menu li a {
    color: white;
    display: block;
    padding: 10px;
}

.vertical-mega-mobile-menu ul li ul.sub-menu,
.mobile-menu-container ul.mobile-menu li ul.sub-menu {
    display: none;
    padding-left: 0;
    list-style: none;
}

.vertical-mega-mobile-menu ul li.active > ul.sub-menu,
.mobile-menu-container ul.mobile-menu li.active > ul.sub-menu {
    background: #3a3a3a;
    display: block;
}

.vertical-mega-mobile-menu-active .vertical-mega-mobile-menu,
.mobile-menu-active .mobile-menu-container {
    -webkit-transform: translate(0);
    -o-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}

.vertical-mega-mobile-menu-active .overlay,
.mobile-menu-active .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
}

.menu-item-has-children > i {
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  background: #2d2d2d;
  cursor: pointer;
}

.vertical-mega-mobile-menu .menu-item-has-children > i.fa:before,
.mobile-menu-container .menu-item-has-children > i.fa:before {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #a9a9a9;
    content: '';
}

.vertical-mega-mobile-menu .menu-item-has-children.active > i.fa:before,
.mobile-menu-container .menu-item-has-children.active > i.fa:before {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}

.menu-item-has-children > i:before {
  position: absolute;
  top: 20px;
  left: 15px;
}

/*--------------------------------------------------------------
##  Backtop
--------------------------------------------------------------*/
#backtotop {
    background: black url(../images/backtop.png);
    position: fixed;
    width: 44px;
    height: 44px;
    bottom: 30px;
    right: 20px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}

#backtotop a {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#backtotop span {
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 60px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../images/backtop.png) center no-repeat, #333;
    opacity: .5;
    -webkit-transition: opacity .3s 0s,visibility 0s .3s;
    -moz-transition: opacity .3s 0s,visibility 0s .3s;
    transition: opacity .3s 0s,visibility 0s .3s;
    z-index: 10;
}

#backtotop span:hover {
    opacity: 1;
}
